* {
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: darkslategrey;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

.header {
  background-color: cornflowerblue;
  text-align: center;
}

.container {
  background-color: tan;
  text-align: center;
  flex: 1 0 auto;
}

.flex-center {
  justify-items: center;
  align-content: center;
}

.footer {
  background-color: green;
  text-align: center;
}



.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}


.m-auto {
  margin: auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-shrink-0 {
  flex-shrink: 0;
}
