body {
  display: flex;
  flex-direction: column;
  padding: 0px;
  border: 0px;
  margin: 0px;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  background-image: url("../deviljumped.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: tan;
  text-align: center;

  /*flex properties */
  display: flex;
  flex: 1 0 auto;
}

.calculator {
  border: 5px solid #1e2020;
  background-color: #1e2020;
  width: 500px;
  margin: auto;
  padding: 20px 20px;
  padding-top: 30px;
  border-radius: 35px;

  /*flex properties*/
  display: flex;
  flex-direction: column;
}

.display {
  background-color: #7d998d;
  color: wheat;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  font-size: 80px;
  font-weight: 900;
  justify-content: end;
  align-items: center;
  text-align: center;
  height: 250px;
  padding-right: 50px;
}

.mini-display {
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #7d998d;
  color: wheat;
  display: flex;
  font-size: 20px;
  height: 15px;
  font-weight: 900;
}

.buttons {
  /*background-color: palevioletred;*/
  column-gap: 8px;
  row-gap: 8px;
  margin-top: 20px;

  /*flex properties*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.button {
  border-radius: 30px;
  /*border: 5px solid #a9ab25;*/
  font-weight: 900;
  font-size: 24px;
  color: wheat;
  width: calc(450px / 4);
  height: calc(450px / 4);
}

.equals {
  background-color: #a9ab25;
}

.lone {
  background-color: #e87619;
  width: calc(400px / 3);
  height: calc(380px / 4);
  margin: auto;
}

.number {
  background-color: #504945;
}

.operator,
.dot {
  background-color: #e87619;
}
